/* GENERAL STYLE */
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 90vw;
    margin: 0 auto; /* centers body as long as width is set */
}

h1, h2, h3, h4, p, label, button {
    font-family: monospace;
}

pre {
    white-space: pre-wrap;
}

/* FORMS */
input, textarea {margin-bottom: 10px;}

/* TABLES */
th, td {
    font-family: monospace;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
} td:hover {
    cursor: pointer;
}
tr:hover {
    background: lightgrey;
}

/* TASK CARDS */
.task-card {
    padding: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        "task-card-header task-card-header"
        "task-card-left task-card-right";
} .task-card:hover {
    background: skyblue;
    cursor: pointer;
}

.task-card-header {
    grid-area: task-card-header;
}

.task-card-left {
    grid-area: task-card-left;
}

.task-card-right {
    grid-area: task-card-right;
}

/* DUE DATE SETTER ELEMENT */
.due-date-display:hover {
    cursor: pointer;
}

/* CUSTOM CLICKABLE THINGS */
.link {
    text-decoration: inherit;
    color: inherit;
}

#priority {
    text-decoration: underline;
} #priority:hover {
    cursor: pointer;
}

