/* GENERAL STYLE */
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 90vw;
    margin: 0 auto; /* centers body as long as width is set */
}

h1, h2, h3, h4, p, label, button {
    font-family: monospace;
}

pre {
    white-space: pre-wrap;
}

/* FORMS */
input, textarea {margin-bottom: 10px;}
form button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.solo-btn {
    display: inline;
    margin: auto;
}

/* TABLES */
th, td {
    font-family: monospace;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
} td:hover {
    cursor: pointer;
}
tr:hover {
    background: lightgrey;
}

/* DUE DATE SETTER ELEMENT */
.due-date-display:hover {
    cursor: pointer;
}
