h1, h2, h3, h4, p, label, button {
    font-family: monospace;
}

pre {
    white-space: pre-wrap;
}

label {display: block;}

input, textarea {margin-bottom: 10px;}

header h1, header nav, header pre {display: inline-block;}

th, td {
    font-family: monospace;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
} td:hover {
    cursor: pointer;
}

tr:hover {
    background: lightgrey;
}

.link {
    text-decoration: inherit;
    color: inherit;
}

.task-card {
    padding: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        "task-card-header task-card-header"
        "task-card-left task-card-right";
} .task-card:hover {
    background: skyblue;
    cursor: pointer;
}

.task-card-header {
    grid-area: task-card-header;
}

.task-card-left {
    grid-area: task-card-left;
}

.task-card-right {
    grid-area: task-card-right;
}

#priority, #edit {
    text-decoration: underline;
} #priority:hover, #edit:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "left center right"
        "footer footer footer";
}

.header, .sidebar, .main, .footer {
    padding-left: 20px;
}


.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}
