/* GENERAL STYLE */
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 90vw;
    margin: 0 auto; /* centers body as long as width is set */
}

h1, h2, h3, h4, p, label, button {
    font-family: monospace;
}

pre {
    white-space: pre-wrap;
}

@media screen and (max-width: 1000px) {
    body {
        width: 98vw;
    }
}

/* FORMS */
input {
    margin-bottom: 10px;
} input[type=text] {
    width: 100%;
}
textarea {
    margin-bottom: 10px;
    width: 100%;
}
form button {
    margin-top: 2px;
    margin-bottom: 2px;
}
form.just-btn {
    display: inline;
}

/* TABLES */
table {
    border-collapse: collapse;
}
th, td {
    font-family: monospace;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
tbody tr:hover {
    background: lightgrey;
}
td:not(.no-click):hover {
    cursor: pointer;
}
td.due {
    min-width: 10ch;
}
td.pos {
    min-width: 10ch;
}
@media screen and (max-width: 1000px) {
    td {
        min-width: min-content;
    }
    td.due {
        min-width: min-content;
    }
}

/* HEADER */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}
.stealth-link {
    text-decoration: inherit;
    color: inherit;
}

/* QUEUES PAGE */
.queues {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.date-queue {
    flex: 1;
}
.my-queue {
    flex: 1;
}
@media screen and (max-width: 1000px) {
    .queues {
        flex-flow: column nowrap;
    }
    .date-queue {
        order: 2;
    }
    .my-queue {
        order: 1;
    }
}

/* PROJECT LIST PAGE */
.project-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.project-views {
    flex: 1;
}
.project-table {
    flex: 9;
}
@media screen and (max-width: 1000px) {
    .project-list {
        flex-flow: column nowrap;
    }
}

/* PROJECT VIEW */
.project-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.project-details {
    flex: 2;
}
.project-tasks {
    flex: 3;
}
.project-notes {
    flex: 4;
}
#priority:hover {
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .project-view {
        flex-flow: column nowrap;
    }
}

/* TASK VIEW */
.task-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.task-project {
    flex: 1;
}
.task-details {
    flex: 2;
}
.task-notes {
    flex: 2;
}
@media screen and (max-width: 1000px) {
    .task-view {
        flex-flow: column nowrap;
    }
    .task-details {
        order: -1;
    }
}

/* TASK CARD */
.task-card {
    padding: 20px;
} .task-card:hover {
    background: skyblue;
    cursor: pointer;
}
.task-card-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.task-card-main {
    flex: 7;
}
.task-card-controls {
    flex: 1;
}

/* SEARCH PAGE */
.search-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.search-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%
}

/* COMMON ELEMENTS */
.status-display:hover {
    cursor: pointer;
}
.due-date-display:hover {
    cursor: pointer;
}
